# exclude all '.DS_Store' Mac files in all sub-directories
.DS_Store

# ignore everything
/*

# exclude from ignoring: '.gitignore'
!.gitignore

# exclude from ignoring: 'README.md'
!README.md

# exclude from ignoring: directories
!/refs
!/doker

# ignore big installation package
/docker/Vagrant.for.Mac/vagrant_1.8.1.dmg

# exclude from ignoring: sub-directory '/dist/rsrc'
#!/dist
#/dist/*
#!/dist/rsrc
